html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.45;
    background-color: rgb(191, 217, 223);
}

h1, h2 {
    display: flex;
    justify-content: center;
}

h2 {
    padding: 1rem;
}

#container {
    margin: 5%;
}

form {
    font-size: larger;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

#transportation {
    float: left;
}

#calculate {
    font-size: large;
    float: right;
}

select, p {
    font-size: large;
}

p {
    font-size: large;
    display: flex;
    justify-content: center;
}
