html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 1.45;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(30, 139, 173, 0.355);
}


form {
    font-size: larger;
    padding: 20px;
    text-align: center;
    width: 80%;
}

#calculate {
    font-size: large;
    float: right;
}

#calculate:hover {
    background-color: rgba(87, 157, 179, 0.72);
}

select, p {
    font-size: large;
}

p {
    font-size: large;
    display: flex;
    justify-content: center;
} 
